{% extends "network/layout.html" %}

{% block title %} 
    Edit Profile 
{% endblock %} 
{% block body %}
<div class="card mt-5 text-center">
    <div class="card-header">
        <h5 class="card-title">
            Hi there {{ request.user }}! Here you can complete your profile
        </h5>
    </div>
    <div class="card-body">
        <form action="{% url 'edit_profile' %}" method="post" class="text-start" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'location' %}
                <div class="mb-3" id="autocomplete">
                    <label for="exampleFormControlInput1" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    <ul class="autocomplete-result-list text-start"></ul>
                </div>
                {% elif field.name == 'profile_pic' %}
                    {% if user_info.profile_pic %}
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Current Profile Pic</label>
                            <img class="form-control" id="profile-pic" src="{{ user_info.profile_pic.url }} " alt="profile_pic">
                        </div>
                    {% endif %}
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% else %}
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endif %} 
            {% endfor %}
            <div class="text-center">
                <button id="submit" type="submit" class="btn btn-primary mb-3">
                    Submit
                </button>
                <a class="btn btn-danger mb-3" href="{% url 'index' %}">Skip</a>
            </div>
        </form>
    </div>
</div>
<script>
    // Auto fill location input when user types
    new Autocomplete('#autocomplete', {
        search: (input) => {
            // console.log(input)
            const url = `get_hometown/?search=${input}`;
            return new Promise((resolve) => {
                fetch(url)
                .then((response) => response.json())
                .then((data) => {
                    // console.log(data.payload)
                    resolve(data.payload);
                });
            });
        }});
</script>
{% endblock %}
