{% extends "network/layout.html" %}
{% load static %}
{% block title %}

    @{{ user_info.user }}

{% endblock %}
{% block body %}

    <div id="profile-info">
        <div class="row">
            <div class="col-4 text-center">
                {% if user_info.profile_pic %}
                    <img id="profile-pic" src="{{ user_info.profile_pic.url }}" alt="profile pic">
                {% else %}
                    <img id="profile-pic" src="{% static 'network/images/nophoto.png' %}" alt="profile pic">
                {% endif %}
                
            </div>
            <div class="col-4">
                <p hidden id="user-id">
                    {{ user.id }}
                </p> 
                <p id="username">
                    @ {{ user_info.user }}
                </p>
                <p>
                    <i class="bi bi-gift"></i> {{ user_info.birthday }}
                </p>
                <p>
                    <i class="bi bi-map"></i> {{ user_info.location|default:"Planet Earth" }}
                </p>
                <p>
                    Followers: <span id="followers">{{ followers }}</span>
                </p>
                <p>
                    Following: {{ following }}
                </p>
                {% if request.user.is_authenticated %}
                <div class="text-center">
                    {% if request.user ==  user_info.user %}
                        <a href="{% url 'edit_profile' %}"><button class="btn btn-primary">Update Your Profile</button></a>
                    {% else %}
                        <form id="follow-unfollow">
                            {% csrf_token %}
                            {% if is_following %}
                                <button class="btn btn-primary">Unfollow</button>
                            {% else %}
                                <button class="btn btn-primary">Follow</button>
                            {% endif %}
                        </form>
                    {% endif %}
                    
                </div>
                {% endif %}
            </div>
            <div class="col-4">
                <p>
                    <i class="bi bi-person"></i><br>{{ user_info.bio|default:"User has decided to remain anonymous" }}
                </p>
            </div>
        </div>

    </div>
    <div class="content">
        {% if request.user.is_authenticated and request.user == user_info.user %}
        <button class="btn btn-primary" id="create-post-button">
            Add Post!
        </button>
        

        <div id="new-post-div">
            <div class="card text-center mb-5" id="new-post">
                <div class="card-header">
                    Add New Post<button class="btn-close" id="close-new-post" type="button"></button>
                </div>
                <div class="card-body text-center">
                    <form action="{% url 'add_post' %}" method="post">
                        {% csrf_token %}
                        {{ post_form }}
                        <button type="submit" class="btn btn-primary">Post</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
        <div id="posts">
            {% if posts %}
                {% for post in page_obj %}
                    <div class="card mb-3" id="post-{{ post.id }}">
                        <h5 class="card-header">{{ post.user }} wrote: 
                            {% if request.user == post.user %}
                                <form class="edit-delete">
                                    {% csrf_token %}
                                    <span class="edit"><i class="bi bi-pencil-square"></i></span>
                                    <span type="submit" class="save-changes"><i class="bi bi-check-circle"></i></span> 
                                    | 
                                    <span class="delete"><i class="bi bi-x-circle"></i></span>
                                </form>
                            {% endif %}
                        </h5>               
                        <div class="card-body">
                            <p class="card-text">
                                {{ post.post }}
                            </p>
                            <p>
                                {{ post.date }}
                            </p>
                            <form>
                                {% csrf_token %}
                                <p class="btn btn-sm btn-outline-danger like-button bi bi-heart">
                                    {{ post.likes_count }}
                                </p>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                    <div id="no-posts" class="text-center">
                        {% if request.user ==  user_info.user %}
                            <h4>You have made any posts yet!</h4>
                            <h6>Click 'Add Post!' to get started!</h6>
                        {% else %}
                            <h4>This user hasn't posted anything yet, come back another time!</h4>
                        {% endif %}
                    </div>
            {% endif %}

            {% if posts|length >= 11 %}
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% endif %}
                    {% for i in page_range|default_if_none:page_obj.paginator.get_elided_page_range %}
                        {% if page_obj.number == i %}
                            <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only"></span></span>
                            </li>
                        {% else %}
                            {% if i == page_obj.paginator.ELLIPSIS %}
                                <li class="page-item"><span class="page-link">{{ i }}</span></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
<script>
    let followUnfollowButton = document.querySelector('#follow-unfollow').children[1]
    let buttonText = followUnfollowButton.innerHTML
    let followers = parseInt(document.querySelector('#followers').innerHTML)
    const userId = parseInt(document.querySelector('#user-id').innerHTML.trim())
    
    followUnfollowButton.addEventListener('click', (event) => {
        event.preventDefault();
        const csrftoken = followUnfollowButton.previousElementSibling.value
        if (followUnfollowButton.innerHTML == "Follow") {
            fetch(`/profile/${userId}/follow`, {
                method: 'POST',
                headers:{
                    'X-csrftoken': csrftoken
                },
                body: JSON.stringify({
                    followee: userId
                })
            })
            .then(response => response.json())
            .then(result => {
                if (result.status == 200) {
                    followUnfollowButton.innerHTML = "Unfollow";
                    followers++
                    document.querySelector('#followers').innerHTML = followers
                    console.log(followers)
                }
            })
        } else {
            followUnfollowButton.innerHTML = "Follow";
            fetch(`/profile/${userId}/unfollow`, {
                method: 'DELETE',
                headers:{
                    'X-csrftoken': csrftoken
                },
                body: JSON.stringify({
                    followee: userId
                })
            })
            .then(response => response.json())
            .then(result => {
                if (result.status == 200) {
                    followUnfollowButton.innerHTML = "Follow";
                    followers--;
                    document.querySelector('#followers').innerHTML = followers            
                }
            })
        }

    })
</script>
{% endblock %}