{% extends "network/layout.html" %}
{% load static %}
{% block title %}
    Register
{% endblock %}

{% block body %}
    <div class="text-center mb-3">
        <h1>Hey There!</h1>
        <h3>Create an account or sign in to get connected!</h3>
    </div>
    <div class="card text-center mt-3">
        <div class="card-header">
            <h5 class="card-title">Register</h5>
        </div>
        <div class="card-body">
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" name="username" placeholder="username">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" name="email" placeholder="email">
                    <label for="floatingInput">Email Address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="confirmation" name="confirmation" placeholder="Confirmation">
                    <label for="floatingPassword">Confirm Password</label>
                </div>
                <button id="submit" type="submit" class="btn btn-primary mb-3">Submit</button>
            </form>
        <p class="card-text">Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>
        </div>
    </div> 
    <div class="text-center">
        <img class="home-image mt-3" src="{% static 'network/images/earth.png' %}" alt="Earth Image">
    </div>
{% endblock %}