{% extends "network/layout.html" %}
{% load static %}
{% block title %}
    Register
{% endblock %}

{% block body %}
    <div class="text-center mb-3">
        <h1>Hey There!</h1>
        <h3>Create an account or sign in to get connected!</h3>
    </div>
    <div class="card text-center mt-3">
        <div class="card-header">
            <h5 class="card-title">Register</h5>
        </div>
        <div class="card-body">
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="mb-3 row">
                    <label for="username" class="col-sm-3 col-form-label">Username</label>
                    <div class="col-sm-9">
                        <input name="username" type="text" class="form-control" id="username">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="email" class="col-sm-3 col-form-label">Email Address</label>
                    <div class="col-sm-9">
                        <input name="email" type="email" class="form-control" id="email">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="password" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">
                        <input name="password" type="password" class="form-control" id="password">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="password" class="col-sm-3 col-form-label">Confirm Password</label>
                    <div class="col-sm-9">
                        <input name="confirmation" type="password" class="form-control" id="password">
                    </div>
                </div>
                <button id="submit" type="submit" class="btn btn-primary mb-3">Submit</button>
            </form>
        <p class="card-text">Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>
        </div>
    </div> 
    <div class="text-center">
        <img class="home-image mt-3" src="{% static 'network/images/earth.png' %}" alt="Earth Image">
    </div>
{% endblock %}